@using TopLearn.Core.DTOs
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر کلمه عبور</li>
    </ul>
</nav>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> تعغییر کلمه عبور </h1></header>
                        <div class="inner form-layer">
                            <div>


                                @if (ViewBag.IsSuccess != null)
                                {
                                    <script>

                                        // Your delay in milliseconds
                                        var delay = 6000;
                                        setTimeout(function () { window.location = "https://localhost:44349/UserPanel"; }, delay);
                                    </script>

                                    <div class="alert alert-success">
                                        <p> کلمه عبور شما با موفقیت ویرایش شد</p>
                                        <p> بعد از چند ثانیه به پنل کاربری منتقل میشوید</p>

                                    </div>
                                }
                                @if (ViewBag.NotSuccess != null)
                                {
                                    <div class="alert alert-danger">
                                        <p> کلمه عبور با مشخصات ارسال شده ویرایش نشد</p>
                                    </div>
                                }
                            </div> @*baraze uplouad file ya ax --> enctype="multipart/form-data"*@
                            <form asp-action="ChangePassword" method="post">




                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                            <input type="text" id="OldPass" class="form-control" asp-for="OldPassword" placeholder="کلمه عبور فعلی" aria-describedby="username">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="text" class="form-control" asp-for="Password" placeholder="کلمه عبور جدید" aria-describedby="email-address">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="text" class="form-control" asp-for="RePassword" placeholder="تکرار کلمه عبور جدید" aria-describedby="email-address">
                                        </div>
                                    </div>
                                    <div class="text-danger" asp-validation-summary=All></div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> تعغییر کلمه عبور </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>